.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: 100%;
  max-width: 650px;
  padding: 1rem;
  border: 1px solid var(--accent-color);
  border-radius: 0.5rem;
  background-color: var(--light-blue-color);
  color: var(--primary-color);
}

.textAreaInput {
  width: 100%;
  min-height: 120px;
  margin-top: 0.5rem;
  padding: 0.75rem;
  border: 1px solid var(--accent-color);
  border-radius: 0.5rem;
  background-color: var(--light-blue-color);
  color: var(--primary-color);
  resize: vertical;
}
.inputWrapper {
  margin-bottom: 1rem;
}

.inputRow {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.submitButton {
  padding: 0.5rem;
  border: 2px solid var(--primary-color);
  border-radius: 0.5rem;
  background-color: var(--primary-color);
  color: var(--light-blue-color);
}
.submitButton:hover {
  background-color: var(--light-blue-color);
  color: var(--primary-color);
}
